:root{
  --head-foot-background: #353B48;
  --text-colour: #000;
  --hover: #48dbfb;
  --footer-text: #bbbbbb;
  --footer-head: #fff;
  --footer-hover: #fff;
  --footer-head-underline: #e91e63;
  --head-hover: #e91e63;
}


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu",sans-serif;
  box-sizing: border-box;
}

.navbar{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
}
.inner-width{
  max-width: 2000px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  background-size: contain;
}

.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span{
  display: block;
  height: 3px;
  background-color: #000;/*Background burgur not sticky*/
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a{
  color: var(--text-colour);/*Text for not sticky*/
  font-size: 16px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

.navbar-menu a:hover{
   color: var(--hover) !important;
}
.sticky{
  background-color: var(--head-foot-background);/*Background for sticky*/
  padding: 18px 0;
}

.sticky .navbar-menu a{
  color: #fff;/*Text for sticky*/
}

.sticky .menu-toggler span{
  background-color: #fff;/*Background burgur sticky*/
}

#home{
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 80px;
}

#home .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

/*Footer Code*/

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--head-foot-background);
  padding: 70px 0;
  clear: both;
  position: relative;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: var(--footer-head);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--footer-head-underline);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: var(--footer-text);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: var(--footer-hover);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);/*Social links Background*/
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.social-links a img{
	width: 40px;
	height: 40px;
}

/*Responsive NAVBAR*/
@media screen and (max-width: 1334px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #353B48;/*Background not sticky phone*/
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
    overflow-y: auto;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }
  .navbar-menu a:first-child{
    margin-top: -50px;
  }
  .sticky .navbar-menu{
    background-color: var(--head-foot-background);/*Color for sticky phone nav*/
  }

  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }
  .navbar-menu a{
    color: #fff;
  }
}

/*Responsive Footer Code*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
	}
  #logo{
    width: 200px;
    margin-left: -35px;
  }
}
