:root {
  box-sizing: border-box;

  --main-colour: #e70146;
  --text-if-hovered: #e70146;
  --background-if-hovered: #1c2022;
  --text-colour: #fff;
  --nav-colour: var(--main-colour);
  --footer-colour: #011c39;
  --colour-for-footer: #fff;
  --socials-colour: #364a62;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: Cursive;
  font-size: 1rem;
}
/*NAVBAR Code*/
header {
  background: var(--nav-colour);
  padding-left: 1.5em;
  position: sticky;
  top: 0;
}
.branding-logo {
  color: var(--text-colour);
  font-size: 20px;
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: row;
}
.menu li {
  list-style: none;
}
.menu li a {
  display: block;
  text-decoration: none;
  color: var(--text-colour);
  padding: 1em 1.5em;
  font-size: 1rem;
}
.--dropdown {
  position: relative;
}
.submenu {
  position: absolute;
  left: 0;
  background-color: var(--background-if-hovered);
  padding: 1.5em 0;
  min-width: 16em;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
}
.submenu > li > a {
  padding: 0.8em 1.5em;
}
.submenu .submenu {
  left: -100%;
  top: 0;
}
.submenu .submenu .submenu {
  left: -100%;
  top: 0;
}

.menu > li:hover > a,
.submenu > li:hover > a {
  background-color: hsla(0, 0%, 100%, 0.05);
  color: var(--text-if-hovered);
}
.menu > li:hover > a {
  background-color: var(--background-if-hovered);
}
.arrow {
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform: rotate(-45deg);
  margin-top: -0.25em;
  transition: transform 100ms ease-in-out;
}
.menu > li:hover > a + .submenu,
.submenu > li:hover > a + .submenu {
  opacity: 1;
  transform: scaleY(1);
}
.menu > li:hover > a > .arrow,
.submenu > li:hover > a > .arrow {
  transform: rotate(225deg);
}

/*Footer Code*/
footer{
  display: grid;
  font-size: 14px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: var(--footer-colour);
}
.footer > *{
  flex: 1 100%;
}
.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer-left img{
  width:  80%;/*width for img*/
}
h2{
  font-weight: 600;
  font-size: 17px;
}
.footer ul{
  list-style: none;
  padding-left: 0;
}
.footer li{
  line-height: 2em;
}
.footer a{
  text-decoration: none;
}
.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}
.footer-right > * {
  flex: 1 50%;
  margin-right: 1.25em;
  margin-top: 20px;
}
.box a{
  color: var(--colour-for-footer);
}
.footer-bottom{
  text-align: center;
  color: var(--colour-for-footer);
  padding-top: 50px;
}
.footer-left p{
  padding-right: 20%;
  color: var(--colour-for-footer);
}
.socials a{
  background: var(--socials-colour);
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}
.socials a img{
  padding: 10px 12px;
  font-size: 20px;
  width: 60px;
  margin-left: -10px;
  margin-top: -8px;
}
main{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 20px;
}
.footer-right h2{
  margin-bottom: 10px;
}
.logo{
  margin-bottom: 10px;
}
/*Responsive Code for NAVBAR*/

@media only screen and (max-width: 2000px) {
  header {
    padding: 1.5em 2em;
  }
  .menu {
    flex-flow: column;
    position: absolute;
    background: var(--text-colour);
    top: 4.55em;
    left: 0;
    right: 0;
    height: 100vh;

    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 100ms,
      100ms opacity ease-in-out;

    overflow-y: scroll;

  }
  .menu > li > a {
    font-size: 1rem;
    color: var(--background-if-hovered);
  }
  .submenu > li > a {
    font-size: 1rem;
  }

  .submenu {
    top: 0;
    padding-left: 1.5em;
  }
  .submenu .submenu {
    left: 0;
    top: 0;
  }
  .submenu .submenu .submenu {
    left: 0;
    top: 0;
  }

  .menu > li:hover > a + .submenu,
  .submenu > li:hover > a + .submenu {
    position: relative;
  }

  .lines {
    width: 2em;
    height: 0.25em;
    display: block;
    background: var(--text-colour);
    position: relative;
    cursor: pointer;
    transition: 0.2s transform ease-in-out;
  }
  .lines::after,
  .lines::before {
    content: "";
    position: absolute;
    left: 0;
    background: inherit;
    width: inherit;
    height: inherit;

    transition: 0.2s transform ease-in-out;
  }

  .lines::after {
    top: 0.65em;
  }
  .lines::before {
    bottom: 0.65em;
  }

  .close::after,
  .close::before {
    top: 0;
    transition: 0.2s transform ease-in-out;
  }
  .close::before {
    display: none;
  }
  .close {
    transform: rotate(45deg);
    transition: 0.2s transform ease-in-out;
  }
  .close::after {
    transform: rotate(-90deg);
  }

  input[type="checkbox"]:checked + .menu {
    position: absolute;
    opacity: 1;
    transform: scaleY(1);
  }
}
/*Responsive code for Footer*/
@media screen and (min-width: 600px) {
  .footer-right > *{
    flex: 1;
  }
  .footer-left{
    flex: 1 0px;
  }
  .footer-right{
    flex: 2 0px;
  }
}
